img {
    width: 200px;
    height: 200px;
}

body {
    text-align: center;
    font-family: 'Times';
    background: rgb(0, 22, 145);
    color: rgb(113, 255, 255);
}

.button {
  background-color: #0096FF; /* Bright Blue */
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Times';
}